body {
    background-color: #f5f5f5;
    font-family: 'Roboto', sans-serif;
}

#canvas-container canvas {
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    display: block;
    border-radius: 10px;
    cursor: none;
}

#canvas-container {
    margin-left: auto;
    margin-right: auto;
    background-color: #b8b8b8;
    width: 60%;
    min-width: 600px;
    border-radius: 10px;
    padding-top: 10px;
    padding-bottom: 25px;
    height: 100%;
}

#canvas-container button {
    margin-left: 20px;
    margin-top: 20px;
    border: none;
    background-color: #4c77ee;
    border-radius: 5px;
    color: white;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    cursor: pointer;
    transition-duration: 0.1s;
}

#canvas-container button:hover {
    background-color: #4166cc;
}

#canvas-container button:active {
    background-color: #3756ac;
}

/* #canvas-container > button {
    margin-left: 20px;
} */

.prediction-container {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    transition-duration: 0.3s;
    z-index: 5;
}

.prediction-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 30px;
    font-weight: bold;
    color: white;
    text-align: center;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.more-solidified-prediction-panel {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    height: 93%;
    background-color: rgba(82, 82, 82, 0.99);
    border-radius: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.more-solidified-prediction-panel button {
    margin-left: 20px;
    border: none;
    background-color: #4c77ee;
    border-radius: 5px;
    color: white;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    cursor: pointer;
    transition-duration: 0.1s;
    margin-bottom: 10px;
}

.more-solidified-prediction-panel button:hover {
    background-color: #4166cc;
}

.more-solidified-prediction-panel button:active {
    background-color: #3756ac;
}

.hidden {
    opacity: 0;
    user-select: none;
    pointer-events: none;
}

.explination-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    background-color: rgba(82, 82, 82, 0.99);
    border-radius: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.explination-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 30px;
    font-weight: bold;
    color: white;
    text-align: center;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.smaller-text {
    font-size: 25px;
}

a {
    color: #4173fb;
}

#links {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    user-select: none;
    pointer-events: none;
}

#link-meat {
    position: fixed;
    left: 10px;
    top: 10px;
}

#link-meat a {
    pointer-events: all;
    cursor: pointer;
}